.header-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 0 20px;
 background-color: #ffffff;
 color: white;
 height: 60px;
}

.nav-links {
 display: flex;
 list-style: none;
 gap: 20px;
}

.nav-links a {
 color: rgb(9, 9, 9);
 text-decoration: none;
 font-weight: bold;
}

.nav-links a:hover {
    color: #61dafb;
    text-decoration: underline;
}

.header-container nav {
margin-left: auto;
}